footer{
    width: 100%;
    padding: 20px 0;
    background-color: $colorsecundario;
    margin-top: 100px;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .socialText {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: $colorprincipal;
    }
}

.contacto__redes a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #212529;
    color: white;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
    margin: 10px;
}

.contacto__redes a:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
    background-color: #fab012;
    transform: scale(1.1);
    transition: 0.5s;
    color: #212529;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .textSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logoFooter {
            width: 275px;
        }
    }
}

.footerLine {
    width: 100%;
}

.footerText {
    font-size: 15px;
    color: white;
}