footer {
	width: 100%;
	padding: 20px 0;
	background-color: $colorsecundario;
}
.socialContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacto__redes {
	a {
		display: inline-flex;
		width: 40px;
		height: 40px;
		background-color: #212529;
		color: white;
		justify-content: center;
		text-decoration: none;
		align-items: center;
		font-size: 18px;
		border-radius: 50%;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
		margin: 10px;
		&:hover {
			box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
			background-color: $colorterciario;
			transform: scale(1.1);
			transition: 0.5s;
			color: #212529;
		}
	}
}
.mainContent {
@include flex;
}
.textSection {
	@extend .mainContent;
	flex-direction: column;
}
.footerText {
	font-size: 15px;
	color: white;
}
.footerLine {
	width: 100%;
}
.logoFooter {
	width: 275px;
}
.socialText {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: $colorprincipal;
}