.sobre-nosotros {
	max-width: 80%;
	margin: auto;
	padding-top: 5rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: $FontBebas;
	font-weight: 200;
	font-size: 1rem;
	text-shadow: 1px 1px 0 #474747;
}

.bg-dark{
	background-color: black;
	color: white;
}

.bg-light {
	color: black;
}

.container2 {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
}

.grid-2 {
	display: grid;
	grid-row-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.text-center {
	text-align: center;
	margin: auto;
}

.title {
	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
}
