.main-servicios {
	background-color: black;
	h2 {
		margin-bottom: 1rem;
		font-size: 2.4rem;
		color: white;
	}
}
.cartaServicios {
	background-color: rgb(54, 54, 54);
	padding: 2rem;
	color: white;
}